html, body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right,#001219, #120b1b, #001119,#100815,#001219);
  background-size: 700%;
  animation: bg-animation 5s infinite alternate;
  }
@keyframes bg-animation{
    0% {background-position: left;}
    100% {background-position: right;}
}
canvas {
  /* display: block; */
  left:50% !important;
  top:50% !important;
  transform: translate(-50%,-50%);
  position: absolute;
}
