html, body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right,#001219, #120b1b);
  }
canvas {
  /* display: block; */
  left:50% !important;
  top:50% !important;
  transform: translate(-50%,-50%);
  position: absolute;
}
